<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>✏️ עריכת קטגוריה</h2>
<form action="/categories/edit" method="post">
    <label for="id">מזהה קטגוריה:</label>
    <input type="number" id="id" name="id" required>

    <label for="newName">שם חדש:</label>
    <input type="text" id="newName" name="newName" required>

    <button type="submit">עדכן</button>
</form>
</body>
</html>