<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2> 专砖转 拽专转</h2>

<% if (categories && categories.length > 0) { %>
    <ul>
        <% categories.forEach(cat => { %>
            <li><%= cat.name %></li>
        <% }) %>
    </ul>
<% } else { %>
    <p> 爪 拽专转.</p>
<% } %>
</body>
</html>