<!doctype html>
<html lang="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>➕ הוספת קטגוריה</h2>
<form action="/categories/add" method="post">
    <label for="name">שם קטגוריה:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">הוסף</button>
</form>
</body>
</html>