<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>דף הבית</title>
</head>
<body>
<h2>בחר פעולה:</h2>

<form action="/category">
    <button type="submit">ניהול קטגוריות</button>
</form>

<form action="/tasks">
    <button type="submit">ניהול משימות</button>
</form>
</body>
</html>