<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>תפריט ניהול</title>
</head>
<body>
<h1>תפריט ניהול</h1>

<ul>
    <li><a href="/admin/add">הוספת משתמש</a></li>
    <li><a href="/admin/delete">מחיקת משתמש</a></li>
</ul>
</body>
</html>
