<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>התחברות</title>
</head>
<body>
<h1>דף התחברות</h1>

<form method="post" action="/login">
    <label>שם משתמש:
        <input type="text" name="username">
    </label><br>
    <label>סיסמה:
        <input type="password" name="password">
    </label><br>
    <button type="submit">התחבר</button>
</form>
</body>
</html>
